* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #111111;
}


hr{
width: 50%; /* Set the width of the <hr> */
  margin: 1px auto; /* Add margin to adjust spacing */
  border: none; /* Remove default border */
  border-top: 2px solid white; /* Add custom border */
}



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    font-family: helvetica;
}

.navbar h1 {
    color: whitesmoke;
    font-family: fairfax;
    height: 40px;
    width: auto;
    margin-right: auto;
}

.menu-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    margin-right: 20px;
}

.menu-list li:last-child {
    margin-right: 0;
}

.menu-list li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.menu-button {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .navbar img {
        height: 110px;
        margin: 0 auto;
    }

    .menu-list li a {
        font-size: 18px;
    }

    .menu-button {
        display: block;
        font-size: 48px;
        position: relative;
        transition: transform 0.3s;
    }

    .menu-button:hover {
        transform: rotate(90deg);
    }

    .menu-list {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        transition: top 0.3s ease;
        z-index: 1;
        width: 100%;
        background-color: #333333df;
        text-align: center;
    }

    .menu-list.show {
        display: flex;
        flex-direction: column;
    }

    .menu-list.show li {
        margin-right: 0px;
    }

    .menu-button.hide {
        display: none;
    }
}



.container {
    position: relative;
    text-align: center;
    color: white;
    
}

h1 {
    color: #ffffff;
    font-family: helvetica;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Helvetica;
}

.centered h1 {
    margin-left: 10px;
}

.socmed {
    word-spacing: 10px;
}

.container1 {
    color: #ffffff;
    font-family: helvetica;
    text-align: center;
    font-size: 40px;
}

.row h1 {
    text-align: center;
    color: #ffffff;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow columns to wrap */
}

.column {
    flex: 0 0 calc(33.33% - 20px); /* Set width of each column with spacing */
    padding: 10px; /* Increase padding for better spacing */
    text-align: center;
}

.column{
 transition: transform .5s ease;
}

.column:hover{
     transform: scale(1.10); 
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .column {
        flex: 0 0 calc(50% - 20px); /* Set width to 50% for screens smaller than 768px */
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    .column {
        flex: 0 0 100%; /* Set width to 100% for screens smaller than 480px */
    }
}
.column2 {
    background-color: #ffffff;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.column2 {
    background-color:#131313 ;
    border: 5px solid #ffffff;
    padding: 15px;
    margin-bottom: 20px;
}

.column3 {
    background-color: #131313;
    border: 5px solid #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
}
/* Hover effect for .column2 */
.column2:hover {
    background-color: #ffffff; /* Change background color to white on hover */
    color: #131313; /* Change text color to black on hover */
    
}

/* Hover effect for .column3 */
.column3:hover {
    background-color: #ffffff; /* Change background color to white on hover */
    color: #131313; /* Change text color to black on hover */
}
/* Hover effect for .column2 */
.column2 {
    transition: transform .5s ease; /* Add transition for smooth animation */
}

.column2:hover {
    transform: scale(1.10); /* Scale up the element on hover */
}

/* Hover effect for .column3 */
.column3 {
    transition: transform .5s ease; /* Add transition for smooth animation */
}

.column3:hover {
    transform: scale(1.10); /* Scale up the element on hover */
}



/* CONTAINER2 */
.container2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: space-evenly;
    margin-top: 20px;
    grid-column-gap: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container2 .item {
    transition: transform 0.3s ease-in-out; /* Add transition for smooth animation */
}

.container2 .item:hover {
    transform: scale(1.05); /* Scale up the item on hover */
}

.container2 h2 {
    text-align: center;
    margin-bottom: 30px;
    color: ;
    font-size: 20px;
}

.container2 p {
    text-align: center;
    color: ;
    font-size: 20px;
}

.container2 ul {
    text-align: center;
    color: ;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .container2 {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 10px;
        padding: 0 10px;
    }

    .container2 .column1,
    .container2 .column2,
    .container2 .column3 {
        margin-bottom: 20px;
    }

    .container2 h2 {
        margin-bottom: 20px;
    }
}

/* Modal CSS */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
}


.feet{
    padding-top: 10px;
    background-color: #333333df;

    color:#333333df;
    font-family: Futura;
    font-size: 10px;
}